@page "/accounts"
@inject AppDbContext Db

<h3>Accounts</h3>

<button @onclick="AddAccount">Add Test Account</button>

<ul>
    @foreach(var account in accounts)
    {
        <li>@account.Name - @account.Balance</li>
    }
</ul>

@code {
    List<Account> accounts = new List<Account>();

    protected override void OnInitialized()
    {
        accounts = Db.Accounts.ToList();
    }

    void AddAccount()
    {
        Db.Accounts.Add(new Account
        {
            Name = "Checking",
            Balance = 1000
        });

        Db.SaveChanges();
        accounts = Db.Accounts.ToList();
    }
}
